/* ###### * ######

Author-Name: Mehedi Islam Ripon.
Author-URL: https://facebook.com/mehediislamripon/

###### * ######*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins, sans-serif;
}
body {
   background: #1e202b;
   color: #ecf0f1;
   cursor: url(../img/cursor.png), auto;
}
h1 {
   font-size: 45px;
}
.container .face {
   position: relative;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   background: #ffcd00;
   justify-content: center;
   align-items: center;
   display: flex;
}
.container .face:hover {
   background: linear-gradient(180deg, #f44336, #f44336, #ffcd00);
}
.container .face::before {
   content: "";
   position: absolute;
   top: 180px;
   width: 150px;
   height: 70px;
   border-bottom-left-radius: 70px;
   border-bottom-right-radius: 70px;
   background: #b57700;
   transition: 0.5s;
}
.container .face:hover::before {
   top: 210px;
   width: 150px;
   height: 20px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   background: #9d0b00;
}
.container .face .eyes {
   position: relative;
   top: -40px;
   display: flex;
   flex-wrap: wrap;
}
.container .face .eyes .eye {
   position: relative;
   width: 80px;
   height: 80px;
   display: block;
   margin: 0 15px;
   background: #fff;
   border-radius: 50%;
}
.container .face .eyes .eye::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 25px;
   transform: translate(-50%, -50%);
   width: 40px;
   height: 40px;
   background: #333;
   border-radius: 50%;
}
.time {
   background: #323544;
   border-radius: 10px;
}
.time h1 {
   padding: 40px 0px 26px 0px;
   font-size: 50px;
}
.mini {
   background: #2d303d;
   font-size: 25px;
   padding: 8px 0;
   border-radius: 0px 0px 10px 10px;
}
#fireWorkBtn {
   font-size: 20px;
   bottom: 10px;
   left: 10px;
}
#cap {
   height: 230px;
   width: 312px;
   transform: rotate(-14deg);
   left: -17%;
   top: -63%;
   z-index: -999;
}
#cap2 {
   height: 230px;
   width: 312px;
   transform: rotate(8deg);
   left: 12%;
   top: -63%;
   z-index: -999;
}
#fireWorkBtn2 {
   display: none;
}
@media only screen and (max-width: 986px) {
   #fireWorkBtn2 {
      display: block;
   }
   #fireWorkBtn {
      display: none;
   }
}
